h2 {
    margin-bottom: 5px;
    text-decoration: underline;
}

section {
    margin: 25px 70px;

    line-height: 1.5;
}

section .introduce {
    font-size: 28px;
    text-align: center;
}
section .introduce .selfie {
    width: 175px; height: 225px;
    margin: 0 auto;
    background-color: aliceblue;
}

section .career {
    margin-top: 30px;
}
section .achievement {
    margin-top: 30px;
}