section {
    line-height: 1.5;

    position: relative;
}

section .main1 {
    width: 100%; height: max-content;
    display: flex;
    background-color: rgba(0, 0, 0, 0.98);
    
    text-align: center;
    align-items: center;
    color: white;
}
section .main1 > img {
    width: 60%;
    float: left;
}
section .main1 .text1 {
    width: 40%; height: 100%;
    position: relative;
    float: left;

    padding: 25px;
}
section .main1 .text1 .title {
    font-weight: bold;
    font-size: 28px;
}
section .main1 .text1 .description {
    margin-top: 15px;

    font-weight: normal;
    font-size: 16px;
}

section .split1_2 {
    width: 100%; height: 175px;
    
    background-color: black;
}

section .main2 {
    width: 100%; height: max-content;
    display: flex;
    background-color: rgba(0, 0, 0, 0.98);

    padding-bottom: 50px;
    
    text-align: center;
    align-items: center;
    color: white;
}
section .main2 > img {
    width: 50%;
    margin: 0 auto;
}
section .main2 .text2 {
    width: 40%; height: 100%;
    position: relative;
    float: left;

    padding: 25px;
}
section .main2 .text2 .title {
    font-weight: bold;
    font-size: 28px;
}
section .main2 .text2 .description {
    margin-top: 15px;

    font-weight: normal;
    font-size: 16px;
}

/*section .split2_3 {
    width: 100%; height: 300px;
    display: flex;

    background-image: linear-gradient(180deg, black 0%, black 20%, white 80%, white 100%);

    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 1px 2px black;
}*/
.split2_3{
    overflow:hidden;
    position:relative;

    width: 100%; height: 330px;
}
.split2_3::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 166px;
    background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" fill="%23000000"/></svg>'); 
}     

section .main3 {
    width: 100%; height: max-content;
    display: flex;
    
    text-align: center;
    align-items: center;
    color: black;
}
section .main3 > img {
    width: 60%;
    float: left;
}
section .main3 .text3 {
    width: 40%; height: 100%;
    position: relative;
    float: left;

    padding: 25px;
}
section .main3 .text3 .title {
    font-weight: bold;
    font-size: 28px;
}
section .main3 .text3 .description {
    margin-top: 15px;

    font-weight: normal;
    font-size: 16px;
}

section .split3_footer {
    width: 100%; height: 50px;

    background-color: white;
}

section .buttons {
    width: 100%;

    display: flex;
    justify-content: center;
}
section .white_button {
    width: 100px; height: 40px;
    
    float: left;
    margin: 15px 5px 0;
    
    background-color: white;
    border-radius: 3px;
    border: solid black;
    line-height: 38px;

    color: black;
}
section .white_button:hover {
    background-color: lightgray;
}
section .black_button {
    width: 100px; height: 40px;
    
    float: left;
    margin: 15px 5px 0;
    
    background-color: black;
    border-radius: 3px;
    border: solid black;
    line-height: 38px;
    
    color: white;
}
section .black_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}