h2 {
    margin-bottom: 5px;
    text-decoration: underline;
}

main {
    flex-direction: column;

    margin: 25px 70px;

    line-height: 1.5;
}

main .introduce {
    font-size: 28px;
    text-align: center;
}
main .introduce .selfie {
    width: 200px; height: 300px;
    margin: 0 auto;
    background-color: aliceblue;
}
main .introduce .selfie > img {
    max-width: 200px; max-height: 300px;
}

main .career {
    margin-top: 30px;
}
main .achievement {
    margin-top: 30px;
    margin-bottom: 30px;
}

main .achievement a {
    text-decoration: underline;
    color: blue;
}