h2 {
    margin-bottom: 5px;
}

main {
    clear: both;
    
    line-height: 1.5;
}

#category {
    width: 25%; min-height: 70%;
    float: right;
    
    border-left: solid black;
}

#category .title {
    width: 100%; height: auto;
    
    padding: 15px 25px 13px;
    border-bottom: solid black;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    text-shadow: rgb(101, 101, 101) 1px 1px;
    font-size: 18px;
    font-weight: bold;
}
#category .details {
    width: 100%; height: 100%;
    
    padding: 17px 17px;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    text-shadow: rgb(53, 53, 53) 1px 1px;
    font-size: 17px;
}


#category .details .search-form {
    width: 100%; height: 40px;
    position: relative;
    
    margin-bottom: 9px;
    
    border-radius: 40px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;
    
    &.focus {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14);
    }
}
#category .details .search-form:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14);
}
#category .details .search-form .search-input {
    width: 83%; height: 20px;
    position: absolute;
    
    top: 25%; left: 13%;
    font-size: 14px;
    background: none;
    color: #5a6674;
    border: none;
    appearance: none;
    outline: none;
    
    &::-webkit-search-cancel-button {
        appearance: none;
    }
}
#category .details .search-form .search-button {
    width: 10%; height: 20px;
    position: absolute;
    
    top: 25%; left: 3%;
    margin: 0; padding: 0;
    
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;    
    
    & svg {
        width: 100%; height: 100%;
        fill: #5a6674;
    }
}

#category .details hr {
    margin-top: 4px; margin-bottom: 2px;
}

#category .details .category_list {
    padding: 0 10px;

    list-style-type: none;
}
#category .details .category_list label {
    display: block;
}
#category .details .category_list label.sub_category {
    font-size: 16px;
    margin-left: 17px;
}
#category .details .category_list label input {
    margin-top: -2px; margin-right: 3px;
    vertical-align: middle;
}
#category .details .category_list label.selected {
    transition: all 0.15s ease;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 255, 0);
}
#category .details .category_list label.hover {
    transition: all 0.15s ease;
    color: rgb(255, 225, 0);
}

#category .details .submit {
    width: 100%; height: 40px;
    
    margin-top: 5px; margin-bottom: 9px;
    
    border-radius: 40px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    text-shadow: rgb(53, 53, 53) 1px 1px;
    color: white;
    background: grey; 
    transition: all 0.3s ease;
    font-size: 15px;
}
#category .details .submit:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14);
}