h2 {
    margin-bottom: 5px;
}

main {
    clear: both;
    
    line-height: 1.5;
}

#category {
    width: 25%; min-height: 70%;
    float: right;
    
    border-left: solid black;
}
#category ul {
    padding-left: 20px;
}

#category .title {
    width: 100%; height: auto;
    
    padding: 15px 25px 13px;
    border-bottom: solid black;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.95);
    text-shadow: rgb(101, 101, 101) 1px 1px;
    font-size: 18px;
    font-weight: bold;
}
#category .details {
    width: 100%; height: 100%;
    
    padding: 17px 17px;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    text-shadow: rgb(53, 53, 53) 1px 1px;
    font-size: 17px;
}
#category .details strong {
    color: rgb(255, 255, 0);
    text-decoration: underline;
}


#category .details .search-form {
    width: 100%; height: 40px;
    position: relative;

    margin-bottom: 7px;

    border-radius: 40px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    transition: all 0.3s ease;

    &.focus {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.14);
    }
}
#category .details .search-form .search-input {
    width: 83%; height: 20px;
    position: absolute;

    top: 25%; left: 13%;
    font-size: 14px;
    background: none;
    color: #5a6674;
    border: none;
    appearance: none;
    outline: none;


    &::-webkit-search-cancel-button {
        appearance: none;
    }
}
#category .details .search-form .search-button {
    width: 10%; height: 20px;
    position: absolute;
    
    top: 25%; left: 3%;
    margin: 0; padding: 0;
    
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;

    
    
    & svg {
        width: 100%; height: 100%;
        fill: #5a6674;
    }
}