#contents {
    width: 100%; min-height: 70%;

    margin-bottom: 25px;
}

/* Title */
#contents .title {
    width: 100%; height: 300px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    
    border-bottom: 2px solid black;
}
#contents .title .return {
    width: 200px; height: 40px;
    
    margin: 2px 3px;
    padding: 10px;
    
    background-color: rgba(0, 0, 0, 0.7);

    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(120, 120, 120, 0.8);

    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 18px;
}
#contents .title .return:hover {
    background-color: rgb(50, 50, 50, 0.9);
}
#contents .title .return:active {
    box-shadow: 1px 2px rgba(120, 120, 120, 0.8);
    transform: translate(1px, 2px);
}
#contents .title .text {
    margin: 20px 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: white;
    text-shadow: 4px 4px black;
}
#contents .title .text_black {
    margin: 20px 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 4px 4px lightgrey;
}

/* */


/* Contents */

#contents #content {
    width: 63%;
    margin: 0 auto;
    
    text-align: justify;

    line-height: 200%;
    font-size: 17px;
}

#contents #content .info {
    width: 100%;

    margin-top: 22px;

    text-align: center;
    font-size: 17px;
}
#contents #content hr {
    height: 1px;
    background-color: black;
    border: none;
    margin: 25px 0;
}
#contents #content .info a:hover {
    text-decoration: underline;
}
#contents #content p {
    margin: 10px 0;
}
#contents #content p::before {
    content: '\00a0\00a0\00a0\00a0';
}
#contents #content p a {
    color: rgb(0, 60, 255);
    text-decoration: underline;
}
#contents #content p.section {
    font-weight: bold;
    font-size: 22px;
}
#contents #content p.section::before {
    content: '';
}
#contents #content p.subsection {
    font-weight: bold;
    font-size: 20px;
}
#contents #content p.subsection::before {
    content: '\00a0\00a0';
}

/* Article Captions */
#contents #content p.caption1 {
    padding: 20px 20px;

    background-color: rgba(179,255,225,255);
    box-shadow: 3px 3px rgb(88, 84, 34);
    color: rgba(61,53,51,255);
    text-shadow: 1px 1px white;
    border-radius: 10px;
}
#contents #content p.caption2 {
    padding: 20px 20px;

    background-color: rgba(45,62,80,255);
    box-shadow: 3px 3px rgb(88, 84, 34);
    color: rgba(27,188,155,255);
    border-radius: 10px;
}
#contents #content p.caption3 {
    padding: 20px 20px;

    background-color: rgba(255,80,149,255);
    box-shadow: 3px 3px rgba(255,201,224,255);
    color: white;
    border-radius: 10px;
}
#contents #content p.caption4 {
    padding: 20px 20px;

    background-color: rgba(255,214,0,255);
    box-shadow: 3px 3px rgba(128,125,110,255);
    color: white;
    border-radius: 10px;
}
#contents #content p.caption5 {
    padding: 20px 20px;

    background-color: rgba(50,171,218,255);
    box-shadow: 3px 3px rgb(88, 84, 34);
    color: rgba(254,212,164,255);
    border-radius: 10px;
}
#contents #content p.caption6 {
    padding: 20px 20px;

    background-color: rgba(11,165,163,255);
    box-shadow: 3px 3px rgba(40,209,216,255);
    color: white;
    border-radius: 10px;
}

#contents #content span.red {
    color: red;
}
#contents #content span.blue {
    color: rgb(0, 60, 255);
}
#contents #content span.bold {
    font-weight: bold;
}
#contents #content span.underline {
    text-decoration: underline;
}
#contents #content span.italic {
    font-style: italic;
}

#contents #content ol.number_list {
    padding-left: 2.5em;
}
#contents #content ul.non-number_list {
    padding-left: 2.5em;
}

#contents #content ol.number_list p {
    margin-top: 0;
    margin-bottom: 0;
}
#contents #content ul.non-number_list p {
    margin-top: 0;
    margin-bottom: 0;
}

#contents #content .figures {
    width: 100%;
    display: flex;
    flex-direction: row; justify-content: space-evenly;
    text-align: center;
    line-height: 1.4;
    font-style: italic;
}


#contents #content .figures figure.single-figure {
    width: 50%;
}
#contents #content .figures figure.double-figure {
    width: 30%;
}


#contents #content .figures figure img {
    width: 100%;
    margin-bottom: 0;
}
#contents #content .figures figure figcaption {
    top: 0;
}

/* */

#contents #content br {
    display: block;
    content: "";
    margin-bottom: 30px;
}
#contents #content p br {
    margin: 0 auto;
}

/* */



/* Source Code Table */
#contents #content .source_code_table {
    width: 100%;

    margin: 0 auto;

    border-radius: 15px;

    overflow: hidden;
}
#contents #content .source_code_table ul.tabs {
    display: flex;
    align-items: center; justify-content: center;
    
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}
#contents #content .source_code_table ul.tabs li {
    display: inline-block;
    padding: 10px 15px;

    background: none;
    cursor: pointer;
    color: #222;
    font-size: 12px;
    text-align: center;
}
#contents #content .source_code_table ul.tabs li:hover {
    background-color: rgb(208, 208, 208);
}
#contents #content .source_code_table ul.tabs li.current {
    background: #ededed;
    color: #222;
}
#contents #content .source_code_table ul.tabs li img {
    width: 35px; height: 35px;
    margin: 0 auto;
    display: block;
}
#contents #content .source_code_table .tab_content {
    display: none;
    background: #ededed;
    padding: 15px;
}
#contents #content .source_code_table .tab_content.current {
    display: inherit;
}
/* */

/* Unity WebGL using Itch.io */
#contents #content .webgl {
    display: flex;
    justify-content: center;
}
/* */

#contents #content .pv {
    width: 80%;
    display: block;
    margin: 0 auto;
}
#contents #content .pv video {
    width: 100%;
}
















/* Article Tag */
#contents #search ul.tag {
    width: 100%;
    display: flex;
    flex-direction: row; justify-content: left;
    flex-wrap: wrap;
    list-style-type: none;
}
#contents #search ul.tag li {
    min-height: 36px;
    display: flex;
    align-items: center;

    padding: 0 5px; padding-bottom: 2px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    
    font-size: 16px;
}
/* */

/* Search for other Posts */
#contents #search {
    width: 63%;

    margin: 0 auto;
    margin-top: 50px; margin-bottom: 25px;
}
#contents #search .category, .recent {
    width: 100%; height: 36px;

    margin-top: 5px; margin-bottom: 2px;
    padding: 0 3px; padding-top: 3px;
    
    text-decoration: underline;

    font-weight: bold;
    font-size: 20px;

    border-top: 2px solid black;
    padding-top: 8px;
}
/* */

/* Next Articles & New Articles */
#contents #search .next_article,
#contents #search .new_article,
#contents #search .next_project,
#contents #search .new_project {
    width: 100%;
    display: flex; flex-direction: row;
    justify-content: space-evenly;

    padding-bottom: 15px;
}
#contents #search .next_article article,
#contents #search .new_article article,
#contents #search .next_project article,
#contents #search .new_project article {
    width: 21%; height: 250px;

    margin: 0 auto;
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
    box-shadow: rgb(150, 150, 150) 3px 4px 7px;
    transition: 0.25s ease-in-out;
}
#contents #search .next_article article:hover,
#contents #search .new_article article:hover,
#contents #search .next_project article:hover,
#contents #search .new_project article:hover {
    transform: scale(1.02);
    box-shadow: rgb(150, 150, 150) 9px 11px 7px;
}

#contents #search .next_article article a,
#contents #search .new_article article a,
#contents #search .next_project article a,
#contents #search .new_project article a {
    width: 100%; height: 100%;
    display: block;
    position: relative;
}
#contents #search .next_article article a img,
#contents #search .new_article article a img,
#contents #search .next_project article a img,
#contents #search .new_project article a img {
    width: 100%; height: 55%;
    overflow: hidden;
}
#contents #search .next_article article a .next_title,
#contents #search .new_article article a .next_title,
#contents #search .next_project article a .next_title,
#contents #search .new_project article a .next_title {
    width: 100%; height: 45px;
    padding: 2px 15px;
    
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: 1.3;
    background-color: white;
    color: rgb(25, 25, 25);
}
#contents #search .next_article article a .description,
#contents #search .new_article article a .description,
#contents #search .next_project article a .description,
#contents #search .new_project article a .description {
    width: 100%;
    
    display: list-item;
    position: absolute;
    
    bottom: 7px;
    padding: 2px 15px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    
    list-style: circle inside;
    font-size: 12px;
    color: rgb(120, 120, 120);
}
#contents #search .next_article article a ul.tag_article,
#contents #search .new_article article a ul.tag_article,
#contents #search .next_project article a ul.tag_project,
#contents #search .new_project article a ul.tag_project {
    width: 100%; height: 22px;
    
    margin-top: 1px;

    display: flex;
    flex-direction: row; justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;

    overflow: hidden;
}
#contents #search .next_article article a ul.tag_article li,
#contents #search .new_article article a ul.tag_article li,
#contents #search .next_project article a ul.tag_project li,
#contents #search .new_project article a ul.tag_project li {
    width: 50%; height: 22px;

    display: flex;
    justify-content: center; align-items: center;

    padding: 0 15px;
    overflow: hidden;
    line-height: 2;

    font-size: 11px;

    border-radius: 20px;
}
    /*Tags for Next Articles*/
#contents #search .next_article article a ul.tag_article .tag_alg, .tag_data, .tag_research {
    background-color: rgb(255, 70, 70);
    color: white;
}
#contents #search .next_article article a ul.tag_article .tag_sort, .tag_dbfs, .tag_dp, .tag_bf, .tag_greedy, .tag_dq, .tag_dijk, .tag_math, .tag_implement, .tag_etc1 {
    background-color: orange;
    color: white;
}
#contents #search .next_article article a ul.tag_article .tag_list, .tag_stk, .tag_que, .tag_dic, .tag_deq, .tag_graph, .tag_tree, .tag_etc2 {
    background-color: rgb(24, 167, 24);
    color: white;
}
#contents #search .next_article article a ul.tag_article .tag_AI, .tag_NLP, .tag_etc3 {
    background-color: rgb(30, 138, 253);
    color: white;
}
    /*Tags for New Articles*/
#contents #search .new_article article a ul.tag_article .tag_alg, .tag_data, .tag_research {
    background-color: rgb(255, 70, 70);
    color: white;
}
#contents #search .new_article article a ul.tag_article .tag_sort, .tag_dbfs, .tag_dp, .tag_bf, .tag_greedy, .tag_dq, .tag_dijk, .tag_math, .tag_implement, .tag_etc1 {
    background-color: orange;
    color: white;
}
#contents #search .new_article article a ul.tag_article .tag_list, .tag_stk, .tag_que, .tag_dic, .tag_deq, .tag_graph, .tag_tree, .tag_etc2 {
    background-color: rgb(24, 167, 24);
    color: white;
}
#contents #search .new_article article a ul.tag_article .tag_AI, .tag_NLP, .tag_etc3 {
    background-color: rgb(30, 138, 253);
    color: white;
}
    /*Tags for Next Projects*/
#contents #search .next_project article a ul.tag_project .tag_unity, .tag_mobile, .tag_AI, .tag_web {
    background-color: rgb(255, 70, 70);
    color: white;
}
#contents #search .next_project article a ul.tag_project .tag_molly-molly, .tag_flappy-bird, .tag_angry-bird, .tag_tank-game, .tag_omok, .tag_othello, .tag_tile-game, .tag_kinetic-WC, .tag_hexavity, .tag_portfolio, .tag_galaga, .tag_animal-face, .tag_personal-blog {
    background-color: orange;
    color: white;
}
/*#contents #search .next_project article a ul.tag_project  {
    background-color: rgb(24, 167, 24);
    color: white;
}*/
#contents #search .next_project article a ul.tag_project .tag_trash-collect {
    background-color: rgb(30, 138, 253);
    color: white;
}
    /*Tags for New Projects*/
#contents #search .new_project article a ul.tag_project .tag_unity, .tag_mobile, .tag_AI, .tag_web {
    background-color: rgb(255, 70, 70);
    color: white;
}
#contents #search .new_project article a ul.tag_project .tag_molly-molly, .tag_flappy-bird, .tag_angry-bird, .tag_tank-game, .tag_omok, .tag_othello, .tag_tile-game, .tag_kinetic-WC, .tag_hexavity, .tag_portfolio, .tag_galaga, .tag_animal-face, .tag_personal-blog {
    background-color: orange;
    color: white;
}
#contents #search .new_project article a ul.tag_project .tag_trash-collect {
    background-color: rgb(30, 138, 253);
    color: white;
}
/*#contents #search .new_project article a ul.tag_project  {
    background-color: rgb(24, 167, 24);
    color: white;
}*/