#contents {
    width: 100%; min-height: 70%;

    margin-bottom: 25px;
}

#contents .title {
    width: 100%; height: 300px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    
    border-bottom: 2px solid black;
}
#contents .title .return {
    width: 200px; height: 40px;
    
    margin: 2px 3px;
    padding: 10px;
    
    background-color: rgba(0, 0, 0, 0.7);

    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(120, 120, 120, 0.8);

    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 18px;
}
#contents .title .return:hover {
    background-color: rgb(50, 50, 50, 0.9);
}
#contents .title .return:active {
    box-shadow: 1px 2px rgba(120, 120, 120, 0.8);
    transform: translate(1px, 2px);
}
#contents .title .text {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: white;
    text-shadow: 3px 3px black;
}

#contents #content {
    width: 75%;
    margin: 0 auto;

    text-align: justify;

    line-height: 200%;
    font-size: 17px;
}

#contents #content .info {
    width: 100%;

    margin-top: 20px;

    text-align: center;
    font-size: 17px;
}
#contents #content hr {
    height: 1px;
    background-color: black;
    border: none;
    margin: 20px 0;
}
#contents #content .info a:hover {
    text-decoration: underline;
}
#contents #content p::before {
    content: '\00a0\00a0\00a0\00a0';
}
#contents #content br {
    display: block;
    content: "";
    margin-bottom: 30px;
}