#contents {
    width: 100%; min-height: 70%;

    margin-bottom: 25px;
}

/* Title */
#contents .title {
    width: 100%; height: 300px;
    margin: 0 auto;

    background-color: rgba(0, 0, 0, 0.8);
    background-position: center;
    background-size: cover;
    
    border-bottom: 2px solid black;
}
#contents .title .return {
    width: 200px; height: 40px;
    
    margin: 2px 3px;
    padding: 10px;
    
    background-color: rgba(0, 0, 0, 0.7);

    border: solid black 1px;
    border-radius: 5px;
    box-shadow: 2px 3px rgba(120, 120, 120, 0.8);

    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 18px;
}
#contents .title .return:hover {
    background-color: rgb(50, 50, 50, 0.9);
}
#contents .title .return:active {
    box-shadow: 1px 2px rgba(120, 120, 120, 0.8);
    transform: translate(1px, 2px);
}
#contents .title .text {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: white;
    text-shadow: 3px 3px black;
}
#contents .title .text_black {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 37px;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 3px 3px lightgrey;
}

/* */


/* Contents */

#contents #content {
    width: 75%;
    margin: 0 auto;
    
    text-align: justify;

    line-height: 200%;
    font-size: 17px;
}

#contents #content .info {
    width: 100%;

    margin-top: 22px;

    text-align: center;
    font-size: 17px;
}
#contents #content hr {
    height: 1px;
    background-color: black;
    border: none;
    margin: 25px 0;
}
#contents #content .info a:hover {
    text-decoration: underline;
}
#contents #content p {
    margin: 10px 0;
}
#contents #content p::before {
    content: '\00a0\00a0\00a0\00a0';
}
#contents #content p a {
    color: rgb(0, 60, 255);
    text-decoration: underline;
}

#contents #content p.caption1 {
    padding: 20px 20px;

    background-color: rgba(179,255,225,255);
    box-shadow: 3px 3px rgb(88, 84, 34);
    color: rgba(61,53,51,255);
    text-shadow: 1px 1px white;
    border-radius: 10px;
}
#contents #content p.caption2 {
    padding: 20px 20px;

    background-color: rgba(45,62,80,255);
    box-shadow: 3px 3px rgb(88, 84, 34);
    color: rgba(27,188,155,255);
    border-radius: 10px;
}

#contents #content br {
    display: block;
    content: "";
    margin-bottom: 30px;
}

/* */



/* Source Code Table */

#contents #content .source_code_table {
    width: 100%;

    margin: 0 auto;

    border-radius: 15px;

    overflow: hidden;
}
#contents #content .source_code_table ul.tabs {
    display: flex;
    align-items: center; justify-content: center;
    
    margin: 0 auto;
    padding: 0px;
    list-style: none;
}
#contents #content .source_code_table ul.tabs li {
    display: inline-block;
    padding: 10px 15px;

    background: none;
    cursor: pointer;
    color: #222;
    font-size: 12px;
    text-align: center;
}
#contents #content .source_code_table ul.tabs li:hover {
    background-color: rgb(208, 208, 208);
}
#contents #content .source_code_table ul.tabs li.current {
    background: #ededed;
    color: #222;
}
#contents #content .source_code_table ul.tabs li img {
    width: 35px; height: 35px;
    margin: 0 auto;
    display: block;
}
#contents #content .source_code_table .tab_content {
    display: none;
    background: #ededed;
    padding: 15px;
}
#contents #content .source_code_table .tab_content.current {
    display: inherit;
}

/* */




/* Search for other Posts */

#contents #search {
    width: 75%;

    margin: 0 auto;
    margin-top: 35px; margin-bottom: 25px;

    border-top: 3px solid black;
}
#contents #search .category {
    width: 100%; height: 40px;

    margin-top: 5px;
    padding-top: 3px;
    
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 20px;
}
#contents #search ul.next_article {
    width: 100%;
    display: flex;
    flex-direction: row; justify-content: center;
    flex-wrap: wrap; flex-grow: 2;
    list-style-type: none;
}
#contents #search ul.next_article li {
    width: 50%; height: 36px;

    padding: 0 5px;
    padding-top: 6px;
    overflow: hidden;

    border-bottom: 1px solid black;
    font-size: 18px;
}
#contents #search ul.next_article li a {
    color: rgb(40, 40, 253);
}
#contents #search ul.next_article li a:hover {
    color:rgb(40, 136, 253);
}

#contents #search ul.tag {
    width: 100%;
    display: flex;
    flex-direction: row; justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
#contents #search ul.tag li {
    width: 100px; height: 36px;

    padding: 0 5px;
    padding-top: 6px;
    overflow: hidden;
    
    flex: 1;

    border-bottom: 1px solid black;
    font-size: 18px;
}

/* */